<!DOCTYPE html>
<html lang="pt-Br"xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Spring Boot  -Curso</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<h1>Formulário de Emprego</h1>
<form action="#"th:action="@{/process}" th:object="${emprego}"method="post">
Titulo: <input class="form-control"  type="text" th:field=*{titulo}>
        <span th:if="${#fields.hasErrors('titulo')}">
        th:errors="*{titulo}"</span><br>
Empresa: <input class="form-control" type="text" th:field=*{empresa}>
        <span th:if="${#fields.hasErrors('empresa')}">
        th:errors="*{empresa}"</span><br>
Descricao:<textarea class="form-control"  rows="3"th:field="*{descricao}"></textarea>
         <span th:if="${#fields.hasErrors('descricao')}">
        th:errors="*{descricao}"</span><br>
        <input type="submit"value="Enviar"></input>
</form>
<!--
	
	<input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example" disabled>
<input class="form-control" type="text" placeholder="Disabled readonly input" aria-label="Disabled input example" disabled readonly>
	
-->

</body>
</html>